body,ul,li,p {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}

body{
  background-color: #2E2E3A;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between ;
    align-items: center;
    background-color: #1F1F1F;
    padding: 10px ;
    height: 50px;
}

a  {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    flex-grow: 1;
    margin: 1px 25px;
}

.menu {
    display:flex
}


.logo {
    width: 25%;
    height: auto;
   margin: -23px 1px;
}


section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 1%;
}

p { 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    width: 100%;
    height: 250px;
}

.verde {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

del {
   color: red;
}

.sobre:hover, .contatos:hover,
 .produtos:hover {
 text-decoration: underline;
 font-size: 20px;
}

/* Smartphones (450px para baixo) */
@media only screen and (max-width: 450px) {

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}

a  {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    flex-grow: 1;
    margin: 1px 1px;
}

.logo {
   display: none;
}

img {
    width: 1%;
    height: 1px;
}




}



/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}

a  {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    flex-grow: 1;
    margin: 1px 8px;
}

.logo {
    width: 25%;
    height: auto;
   margin: -23px 1px;
}

img {
    width: 95%;
    height: 200px;
}

}

